body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #f2f5fa, #99a8c3);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.profile-pic {
    width: 50%;
    height: 50vh;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    text-align: center;
}